.main {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bgImage {
    height: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.logoImage {
    height: 90px;
}

.title {
    text-transform: uppercase;
}
